#nextbttn {
  height: 100px;
  width: 70px;
  background-color: chartreuse;
  margin-left: 90%;
}


#leftContentDiv {
  width: 35%;
  margin-top: 10%;

}
.content{
  align-content: center;

}
#rightDiv{
margin-top: 10%;
margin-left: 25%;
width: inherit;
}
#formID {
   width:100%;
}


