<h2 id="header">Vælg type af aftale</h2>
<div id="top">
  <mat-card id="Ulla" title="Familie">
    <mat-card-header>
      <div mat-card-avatar id="famImg"> </div>
      <mat-card-title>Familie</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card id="SCN" title="SCN">
    <mat-card-header>
        <div mat-card-avatar id="SCNImg"> </div>
      <mat-card-title>SCN</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
<div id="bottom">
  <mat-card id="Læge" title="Læge">
    <mat-card-header>
        <div mat-card-avatar id="lægeImg"> </div>
      <mat-card-title>Læge</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card id="Bold" title="Underholdning">
    <mat-card-header>
        <div mat-card-avatar id="ballImg"> </div>
      <mat-card-title>Underholdning</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
<button mat-button id="nextbttn" (click)="buttonClicked()">Næste</button>
