body {
    text-align: center;
    position: relative;
    word-wrap: break-word;
}

p span {
  width: 24px;
  height: 24px;
  padding-left: 24px;
  padding-top: 5px;
  margin-left: 5px;
}

.eventType{
  height: 24px;
}

.img.Familie {
  background: url("src/assets/img/fam.png") left top no-repeat;
}

.img.SCN {
  background: url("src/assets/img/smiley.png") left top no-repeat;
}

.img.Sundhedsvæsenet {
  background: url("src/assets/img/heart.png") left top no-repeat;
}

.img.Underholdning {
  background: url("src/assets/img/football.png") left top no-repeat;
}

button {
    position: absolute;
    font-size: 150%;
    height: 80px;
    width: 100px;
    cursor: none;
}

.inline {
  bottom: 15px;
}

#butEdit {
  bottom: 0px;
  left: 15px;
}

.left {
  float: left;
  left: 15px;
}

.right {
    float: right;
    right: 15px;
}

#closeNotifier{
  bottom: 0px;
  left: 50px;
  width: 300px;
  height: 125px;
}

.bad {
  background-color: #E0352D;
}

.good {
  background-color: rgb(0, 230, 40);
}

#butEdit {
    position: absolute;
    bottom: 15px;
    left: 38%;
    width: 25%;
}

.event.SCN {
  background-color: rgb(129, 226, 255);
}
.img.SCN {
  width: 24px;
  height: 24px;
  padding-left: 24px;
  background: url("src/assets/img/smiley.png") left top no-repeat;
}
.event.Familie {
  background-color: rgb(70, 255, 70);
}
.event.Sundhedsvæsenet {
  background-color: rgb(200, 165, 255);
}
.img.Sundhedsvæsenet {
  width: 24px;
  height: 24px;
  padding-left: 24px;
  background: url("src/assets/img/heart.png") left top no-repeat;
}

.event.Underholdning {
  background-color: #FA8D35;
}
.img.Underholdning {
  width: 24px;
  height: 24px;
  padding-left: 24px;
  background: url("src/assets/img/football.png") left top no-repeat;
}