<body class="event {{data.type}}" dirClickcounter>
  <!-- Clicked event layout -->
  <div *ngIf="data.isNoti == 'false'"> 
    <br>
      <p class="eventType">Begivenhedstype: {{data.type}} <span class="img {{data.type}}"></span></p>
      <h2 >{{data.note}}</h2>
      <h3><b>Den</b> {{data.day}}/{{data.month}}/{{data.year}}</h3>
      <h3><b>Kl.</b> {{data.time}}</h3>
      <h3 *ngIf=data.people><b>Med:</b> {{data.people}}</h3>
      <h3 *ngIf=data.place><b>Ved:</b> {{data.place}}</h3>
      <button class='inline right bad' (click)="ReturnResult('delete')" [mat-dialog-close]>Slet</button>
      <button id='butEdit' (click)="ReturnResult('edit')" [mat-dialog-close]>Redigér</button>
      <button class='inline left' [mat-dialog-close]>Luk</button>
  </div>

  <!-- Notification layout -->
  <div *ngIf="data.isNoti == 'true'">
    <br>
    <p class="eventType">Begivenhedstype: {{data.type}} <span class="img {{data.type}}"></span></p>
    <h3 >Du har en aftale i dag</h3>
    <h3><b>Kl.</b> {{data.time}}</h3>
    <h2 >{{data.note}}</h2>
    <h3 *ngIf=data.people><b>Med:</b> {{data.people}}</h3>
    <h3 *ngIf=data.place><b>Ved:</b> {{data.place}}</h3>

    <div id="width">
      <button id="closeNotifier" [mat-dialog-close]>Godkend og Stop Lys</button>
    </div>
  </div>

  <!-- Confirm Delete/Edit Layout -->
  <div *ngIf="data.isNoti == 'delete' || data.isNoti == 'edit'">

    <div *ngIf="data.isNoti == 'delete'">
    <br>
    <h1>Slet aftale?</h1>
      <br>
      <h2>Er du sikker på du vil slette aftalen?</h2>
      <br>
      <h2>'{{data.note}}'</h2>
      <h2>den {{data.day}}/{{data.month}}?</h2>
      <button class="inline right bad" (click)="ReturnResult('del_yes')" [mat-dialog-close]>Ja, slet</button>
    </div>

    <div *ngIf="data.isNoti == 'edit'">
    <br>
    <h1>Ændre aftale?</h1>
      <br>
      <h2>Er du sikker på du vil lave ændringer i aftalen?</h2>
      <br>
      <h2>'{{data.note}}'</h2>
      <h2>({{data.day}}/{{data.month}})</h2>
      <button class="inline right" (click)="ReturnResult('edit_yes')" [mat-dialog-close]>Ja, ændre</button>
    </div>

    <button class="inline left" (click)="ReturnResult('no')" [mat-dialog-close]>Nej, afbryd</button>
    </div>
</body>
