body {
    text-align: center;
    position: relative;
}

button {
    position: absolute;
    font-size: 150%;
    height: 80px;
    width: 100px;
}

#butEdit {
    bottom: 0px;
    left: 15px;
}

#butClose {
    bottom: 0px;
    right: 15px;
}

#butDelete {
    position: absolute;
    top: 0px;
    right: -17px;
    background-color: red;
    /*background: url(); Trashcan Icon*/
}

.event.SCN {
  background-color: rgb(96, 119, 221);
}
.img.SCN {
  width: 24px;
  height: 24px;
  padding-left: 24px;
  background: url("src/assets/img/smiley.png") left top no-repeat;
  background-color: blue;
}

.event.Sundhedsvæsenet {
  background-color: rgb(196, 9, 9);
}
.img.Sundhedsvæsenet {
  width: 24px;
  height: 24px;
  padding-left: 24px;
  background: url("src/assets/img/heart.png") left top no-repeat;
}

.event.Underholdning {
  background-color: chocolate;
}
.img.Underholdning {
  width: 24px;
  height: 24px;
  padding-left: 24px;
  background: url("src/assets/img/football.png") left top no-repeat;
}
