#navMenu{
  top: 0;
  position: sticky;
  height: 10%;
  width: 100;
  overflow: hidden;
  background-color: #16168b;
}
#newPlan{
  background-color: red;
  position: absolute;
  right: 0%;
  height: 70px;
  font-weight: bold;
  font-size: 15px;
  color: white;
}
.menubttn{
  background-color: rgb(3, 209, 106);
  height: 70px;
  font-weight: bold;
  width: 100px;
  left: 0;
  font-size: 15px;
}
#header{
  color: white;
  margin-left: 20%;
}
button{
  cursor: none;

}
