#navMenu{
  top: 0;
  position: sticky;
  height: 50px;
  width: 100;
  overflow: hidden;
  /*background-color: #16168b;*/
  background-color: #8CCEFF;
}
#newPlan{
  /*background-color: red;*/
  background-color: #E0352D;
  position: absolute;
  right: 0%;
  height: 70px;
  font-weight: bold;
  font-size: 15px;
  color: white;
}
.menubttn{
  /*background-color: rgb(3, 209, 106);*/
  background-color: #82DE7E;
  height: 70px;
  font-weight: bold;
  width: 100px;
  left: 0;
  font-size: 15px;
}
#header{
 /* color: white;*/
 color: black;
  margin-left: 40%;
}
button{
  cursor: none;

}
