#navMenu{
  top: 0;
  position: sticky;
  height: 10%;
  width: 100;
  overflow: hidden;
  background-color: #16168b;
}
#newPlan{
  background-color: red;
  position: absolute;
  right: 2%;
  height: 70px;
  font-weight: bold;
  font-size: 15px;
  color: white;
}
.menubttn{
  background-color: green;
  height: 70px;
  font-weight: bold;
  width: 100px;
  margin-left: 0;
  font-size: 15px;

}
