.nextBttn {
  height: 150px;
  width: 100px;
  font-weight: bold;
  top: 0;
  background-color: rgb(3, 209, 106);
}
.backBttn {
  height: 150px;
  width: 100px;
  font-weight: bold;
  top: 0;
  background-color: rgb(255, 217, 1);
}
#deleteBttn {
  height: 150px;
  width: 100px;
  font-weight: bold;
  top: 0;
  background-color: red;
}
#datePickerButton{
  width: 150px;
  height: 90px;
  margin-left: 220px;
}
#calField {
  font-size: 25px;
}
#topButton {
  margin-right: 8%;
}
#botButton {
  margin-right: 8%;
}
#timePicker {
  width: 50%;
}
#timeInput {
  height: 25px;
  border-top: 0 !important;
}
.mat-form-field-infix {
  border-top: 0 !important;
}
#oof {
  width: 70%;
}
.arrowUpBttn {
  margin-left: 3%;
  height: 65px;
  width: 65px;
  border-radius: 50%;
}
.arrowDownBttn {
  margin-left: 3%;
  height: 65px;
  width: 65px;
  border-radius: 50%;
}
.material-icons {
  /* transform: scale(2); */
}

.fixedCalendar {
  width: 200px;
  height: 200px;
  display: block !important;
  overflow: hidden;
}
#noteBox {
  margin-top: 5%;
  text-align: center;
}
#noteText {
  width: 100%;
  font-size: 25px;
}
#textBox {
  width: 80%;
}
#whereBox {
  width: 80%;
}
#firstNext {
}
/*
.fixedCalendar .md-calendar-scroll-mask {
  width: 340px !important;
}

.fixedCalendar .md-virtual-repeat-scroller {
  width: 340px !important;
  height: 308px;
}*/

.fixed-open {
  display: block;
  width: 850px;
}

.mat-datepicker-toggle {
  /* zoom: 450%; */
}
#noteBoxOOF {
  flex: 0.5;
}
#timeBoxFlex {
  flex: 0.5;
}
#peopleBoxFlex {
  flex: 0.5;
}
#placeboxFlex {
  flex: 0.5;
}
#viewFlexBox {
  flex: 0.5;
}
#cardFlex1 {
  flex: 0.5;
}

.inputField {
  align-content: center;
  width: 50%;
  margin-left: 10%;
}
#timeBox {
  text-align: center;
  align-content: center;
  width: 100%;
  font-size: 25px;
}
#peopleBox {
  text-align: center;
  align-content: center;
  width: 100%;
  font-size: 25px;
}
#placeBox {
  text-align: center;
  align-content: center;
  width: 100%;
  font-size: 25px;
}

.flexBox {
  display: flex;
  justify-content: space-between;
}

#header {
  text-align: center;
}
#nextbttn {
  height: 105px;
  width: 70px;
  background-color: chartreuse;
  margin-right: 1%;
  font-weight: bold;
}
#top {
  display: flex;
  height: 20%;
  margin-bottom: 5%;
}
#bottom {
  display: flex;
  height: 20%;
}
#SCN {
  background-color: rgb(96, 119, 221);
  width: 45%;
  height: 80%;
}
#fam {
  background-color: chartreuse;
  width: 45%;
  height: 80%;
  margin-right: 3%;
  margin-bottom: 3%;
}
#bold {
  background-color: chocolate;
  width: 45%;
  height: 80%;
}
#læge {
  background-color: rgb(196, 9, 9);
  width: 45%;
  height: 80%;
  margin-right: 3%;
  margin-bottom: 3%;
}
#famImg {
  background: url("src/assets/img/fam.png") 50% 50% no-repeat;
}

#SCNImg {
  background: url("src/assets/img/smiley.png") 50% 50% no-repeat;
}
#ballImg {
  background: url("src/assets/img/football.png") 50% 50% no-repeat;
}
#healthImg {
  background: url("src/assets/img/heart.png") 50% 50% no-repeat;
}
#fluebenImg {
  background: url("src/assets/img/checkMark.png") 50% 50% no-repeat;
}
.flexType {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#outerBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cardDiv {
  display: flex;
  flex-direction: row;
  margin-left: 7%;
}
#headerDiv {
  text-align: center;
}
#appointmentHeaderBox{
  text-align: center;

}
#resumeDiv{
  font-size: 20px;
}

.ngx-toastr{
  pointer-events: none !important;
}

.simple-keyboard {
  max-width: 800px;
}

.simple-keyboard.hg-theme-default.hg-layout-default{
  border: 5px solid rgb(0, 0, 0, 0.7);
  border-radius: 0px;
  margin: 0px;
  width: calc(100%);
  font-size: 26px;
  background-color: black;
  font-weight: bold;
}
