<mat-horizontal-stepper>
    <mat-step [stepControl]="firstForm">
      <form (ngSubmit)="dateSubmit(firstForm.value)" [formGroup]="firstForm">
        <ng-template matStepLabel>Dato</ng-template>
        <h4 class="inputField">Vælg dato</h4>
        <div class="inputField">
        <mat-form-field class="example-full-width">
          <input matInput readonly [matDatepicker]="picker" placeholder="klik her for at vælge" required
            formControlName="firstCtrl">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker class="fixed-open" touchUi #picker opened="true"></mat-datepicker>
        </mat-form-field>
      </div>
        <div>
          <button mat-raised-button type="submit" matStepperNext id="firstNext" class="nextBttn">Næste</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondForm">
      <form [formGroup]="secondForm">
        <ng-template matStepLabel>Note</ng-template>
        <div class="flexBox">
          <button mat-button matStepperPrevious class="backBttn">Tilbage</button>
          <div id="noteBoxOOF" class="inputField">
            <div id="noteBox">
              <h4>Skriv en note nedenunder</h4>
              <mat-form-field id="noteText">
                <input matInput #input maxlength="30" id="noteInput" value="" matInput placeholder="Skriv her"
                  [(ngModel)]="this.newappointmentservice.note" formControlName="secondCtrl">
              </mat-form-field>
            </div>
          </div>
          <button mat-button matStepperNext class="nextBttn">Næste</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdForm">
      <form [formGroup]="thirdForm">
        <ng-template matStepLabel>Tidspunkt</ng-template>
        <div class="flexBox">
          <button mat-button matStepperPrevious class="backBttn">Tilbage</button>
          <div id="timeBox">
            <h4>Vælg tidspunkt</h4>
            <button mat-button id="topButton" class="arrowUpBttn" (click)="hourUp()"></button>
            <button mat-button class="arrowUpBttn" (click)="minuteUp()"></button>
            <br>
            <mat-form-field class="timeBox" id="timeBoxFlex">
              <input id="timeInput" matInput placeholder="" value="{{hour}}:{{minutes}}" formControlName="thirdCtrl">
            </mat-form-field>
            <br>
            <button mat-button id="botButton" class="arrowDownBttn" (click)="hourDown()"></button>
            <button mat-button class="arrowDownBttn" (click)="minuteDown()"></button>
          </div>
          <button mat-button matStepperNext (click)="timeSubmit()" class="nextBttn">Næste</button>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="fourthForm">
      <form [formGroup]="fourthForm">
        <ng-template matStepLabel>Deltagere</ng-template>
        <div class="flexBox" id="peopleBoxFlex">
          <button mat-button matStepperPrevious class="backBttn">Tilbage</button>
          <div id="peopleBox">
            <h4>Skriv hvem der skal med</h4>
            <mat-form-field>
              <input matInput id="textBox" #input maxlength="30" value="" matInput placeholder="Skriv her"
                [(ngModel)]="this.newappointmentservice.people" formControlName="fourthCtrl">
            </mat-form-field>
          </div>
          <button mat-button matStepperNext class="nextBttn">Næste</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="fifthForm">
      <form [formGroup]="fifthForm">
        <ng-template matStepLabel>Sted</ng-template>
        <div class="flexBox" id="placeBoxFlex">
          <button mat-button matStepperPrevious class="backBttn">Tilbage</button>
          <div id="placeBox">
            <h4>Skriv hvor det skal være</h4>
            <mat-form-field class="content">
              <input matInput id="textBox" #input maxlength="30" value="" matInput placeholder="Skriv her"
                [(ngModel)]="this.newappointmentservice.place" formControlName="fifthCtrl">
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperNext class="nextBttn">Næste</button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Oversigt</ng-template>
      <em><b>Din aftale er som følgende:</b></em><br><br>
      <b>Dato:</b> {{realDate}}<br>
      <b>Note:</b> {{this.newappointmentservice.note}}<br>
      <b>Kl:</b> {{time}}<br>
      <b>Deltagere:</b> {{this.newappointmentservice.people}}<br>
      <b>Sted:</b> {{this.newappointmentservice.place}}<br>

      <div>
        <button mat-button matStepperPrevious class="backBttn">Tilbage</button>
        <button mat-button (click)="finishAppointment()">Gem aftale</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <!--[(ngModel)]="this.newappointmentservice.date"-->

  <!--<app-event-type *ngIf='this.navservice.Toggle === 0'> </app-event-type>

  <app-date *ngIf='this.navservice.Toggle === 1'></app-date>

  <app-note *ngIf='this.navservice.Toggle === 2'> </app-note>

  <app-time *ngIf='this.navservice.Toggle === 3'></app-time>

  <app-participant *ngIf='this.navservice.Toggle === 4'></app-participant>

  <app-place *ngIf='this.navservice.Toggle === 5'></app-place>-->

  <!-- <input id="timePicker" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" placeholder="Tid"
          [(ngModel)]="this.newappointmentservice.time" formControlName="thirdCtrl">
        <owl-date-time [pickerType]="'timer'" #dt1 id="timePicker" class="timePicker" ></owl-date-time>-->
