.nextBttn {
  height: 150px;
  width: 100px;
  font-weight: bold;
  top: 0;
}
.backBttn {
  height: 150px;
  width: 100px;
  font-weight: bold;
  top: 0;
}
#topButton {
  margin-right: 10%;
}
#botButton {
  margin-right: 10%;
}
#timePicker {
  width: 50%;
}

#oof {
  width: 70%;
}
.arrowUpBttn {
  margin-left: 3%;
  height: 50px;
  width: 15%;
  background-color: grey;
  background: url("src/assets/img/arrowUp.png") 50% 50% no-repeat;
}
.arrowDownBttn {
  margin-left: 3%;
  height: 50px;
  width: 15%;
  background-color: grey;
  background: url("src/assets/img/ArrowDown.png") 50% 50% no-repeat;
}
#plsMove {
  margin-right: 3%;
}
.fixedCalendar {
  width: 200px;
  height: 200px;
  display: block !important;
  overflow: hidden;
}
#noteBox {
  margin-top: 5%;
  text-align: center;
}
#noteText {
  width: 100%;
  font-size: 25px;
}

/*
.fixedCalendar .md-calendar-scroll-mask {
  width: 340px !important;
}

.fixedCalendar .md-virtual-repeat-scroller {
  width: 340px !important;
  height: 308px;
}*/

.fixed-open {
  display: block;
}

.mat-datepicker-toggle{
  zoom: 450%;
}
#noteBoxOOF {
  flex: 0.5;
}
#timeBoxFlex {
  flex: 0.5;
}
#peopleBoxFlex {
  flex: 0.5;
}

.inputField {
  align-content: center;
  width: 50%;
}
#timeBox {
  text-align: center;
  align-content: center;
  width: 100%;
  font-size: 25px;
}
#peopleBox {
  text-align: center;
  align-content: center;
  width: 100%;
  font-size: 25px;
}
#placeBox{
  text-align: center;
  align-content: center;
  width: 100%;
  font-size: 25px;
}
#placeboxFlex{
  flex: 0.5;
}
.flexBox {
  display: flex;
  justify-content: space-between;
}
