#calHeader{
  text-align: center;
}
#calendarDiv{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
}
.dayDiv{
  border-style: solid;
  width:  20%;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.event {
  background: cornflowerblue;
}

