<h1 id="calHeader">5 døgns oversigt</h1>
<div id="calendarDiv">
  <div class="dayDiv" *ngFor="let day of dayTitles; let i = index">
    <p><b>{{day}}</b></p>
    <hr>
    <span *ngIf="eventsSorted">
      <div class="event" *ngFor="let event of eventsSorted[i]; let j = index" (click)="eventView.ShowEvent(i, j, eventsSorted)"> <!--Viser fejl, men SKAL være der.-->
        <p id="title">{{event.title}}</p>
        <p id="note" hidden>{{event.note}}</p>
        <p id="time" hidden>{{event.time}}</p>
        <p id="date" hidden>{{event.date}}</p>
        <p id="people" hidden>{{event.people}}</p>
        <p id="place" hidden>{{event.place}}</p>
      </div>
    </span>
  </div>
</div>

<button (click)="RefreshView('next')">Next</button>
<button (click)="RefreshView('back')">Back</button>