.inline {
  display: inline;
}

#calTop {
  text-align: center;
}

#calHeader{
  width: 60%;
  font-size: 30px;
}

#leftMonthName {
  float: left;
  text-align: left;
  width: 20%;
  padding-top: 22px;
}

#rightMonthName {
  float: right;
  text-align: right;
  width: 20%;
  padding-top: 22px;
}

#calendarDiv{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
}
.dayDiv{
  border-right: 1px solid;
  width:  20%;
  text-align: center;
}

.event.Familie {
  background-color: chartreuse;
}
.img.Familie {
  width: 24px;
  height: 24px;
  padding-left: 24px;
  background: url("src/assets/img/fam.png") left top no-repeat;
}

.event.SCN {
  background-color: rgb(96, 119, 221);
}
.img.SCN {
  width: 24px;
  height: 24px;
  padding-left: 24px;
  background: url("src/assets/img/smiley.png") left top no-repeat;
}

.event.Sundhedsvæsenet {
  background-color: rgb(196, 9, 9);
}
.img.Sundhedsvæsenet {
  width: 24px;
  height: 24px;
  padding-left: 24px;
  background: url("src/assets/img/heart.png") left top no-repeat;
}

.event.Underholdning {
  background-color: chocolate;
}
.img.Underholdning {
  width: 24px;
  height: 24px;
  padding-left: 24px;
  background: url("src/assets/img/football.png") left top no-repeat;
}
.weekBttn{
width: 100px;
height: 50px;
font-weight: bold;
}
#backWeek{
  background-color: rgb(255, 217, 1);
  float: left;
}
#nextWeek{
  background-color: rgb(3, 209, 106);
  float: right;
}
