.inline {
  display: inline;
}

#calTop {
  text-align: center;
}

#calHeader{
  width: 60%;
}

#leftMonthName {
  float: left;
  text-align: left;
  width: 20%;
  padding-top: 22px;
}

#rightMonthName {
  float: right;
  text-align: right;
  width: 20%;
  padding-top: 22px;
}

#calendarDiv{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
}
.dayDiv{
  border-right: 1px solid;
  width:  20%;
  text-align: center;
}

.event {
  background: cornflowerblue;
}