<h1 id="calHeader">Denne uge</h1>
<div id="calendarDiv">
  <div class="dayDiv" *ngFor="let day of days; let i = index">
    <p>{{day}}</p>
    <span *ngIf="eventsSorted">
      <div class="event" *ngFor="let event of eventsSorted[i]; let j = index" (click)="ShowEvent(i, j)">
        <p id="title">{{event.title}}</p>
        <p id="note" hidden>{{event.note}}</p>
        <p id="time" hidden>{{event.time}}</p>
        <p id="date" hidden>{{event.date}}</p>
        <p id="people" hidden>{{event.people}}</p>
        <p id="place" hidden>{{event.place}}</p>
      </div>
    </span>
  </div>
</div>